/* CSS Normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

/* Box-sizing border-box */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Background honeycomb image */
body {
    background-image: url('cell_background.jpg')
}

/* My Team header */
header {
    background-color: rgb(33, 33, 33);
    font-size: 40px;
    color: white;
    text-align: center;
    height: 150px;
    padding: 40px;
    border-bottom: 5px solid #0DAFDE;
    margin-bottom: 50px;
    opacity: 90%;
}

/* We start writing out flexbox here. The above is just page setup */
.container-fluid {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

/* Team member cards */
.card {
    width: 325px;
    height: 325px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 4px #000000;
    border: 5px solid #0DAFDE;
    background: linear-gradient(to bottom right, #111111 0%, #7B7B7B 160%);
    opacity:95%;
    text-shadow: 1px 1px black
}

.card ul {
    margin-top: 5px;
}

.card ul a {
    text-decoration: none;
    color: white;
}

.card ul a:hover {
    text-decoration: none;
    color: #0DAFDE;
}

.card-header {
    height: 110px;
    color: white;
    border-bottom: 5px solid #0DAFDE;
}

h3 span {
    font-size: 22px;
}

li span {
    /* border: 2px solid red; */
    padding: 2px;
}

.list-group-item {
    background-color: transparent;
}
